<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whl.messagesystem.dao.GroupDao">
    <select id="findGroupByGroupName" resultType="com.whl.messagesystem.model.entity.Group">
        SELECT groupname, adminid, membercount
        FROM group
        WHERE groupname = #{groupName}
    </select>
</mapper>