<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whl.messagesystem.dao.UserGroupDao">

    <insert id="insertAnUserGroup">
        insert into user_group(user_id, group_id)
        values (#{userGroup.userId}, #{userGroup.groupId})
    </insert>

    <delete id="deleteAnUserGroupByUserId">
        delete
        from user_group
        where user_id = #{userId}
    </delete>

    <delete id="deleteUserGroupsByGroupId">
        delete
        from user_group
        where group_id = #{groupId}
    </delete>

    <select id="selectUserGroupCountByUserId" resultType="java.lang.Integer">
        select count(*)
        from user_group
        where user_id = #{userId}
    </select>

</mapper>